#container {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100vh;
    top: 50%;
    bottom: 50%;
    justify-content: center;
}

button {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: pink;
    font-weight: bold;
    cursor: pointer;
}
input {
    font-size: 1rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin: 25px;
}

#diceImages {
    width: 150px;
}